<form [formGroup]="alertForm" novalidate class="center">
  <h1>Simple notification example</h1>
  <p>If no timeout is set the notification will have a close button </p>
  <input type="text" formControlName="message" type="text" placeholder="Type message">
  <span class="flex">
    <input type="number" min="0" max="10000" step="500" formControlName="timeout" value="0">
    <small>timeout (optional)</small>
  </span>
  <!-- <select id="pos-select">
    <option *ngFor="let pos of position" (change)="selected(pos.value)" [value]="pos.class">{{pos.name}}</option>
  </select> -->
  <span class="flex">
    <select formControlName="position">
      <option value="null" disabled="true" [selected]="true">Select pos</option>
      <option *ngFor="let pos of position" [value]="pos.class">{{pos.name}}</option>
    </select>
    <small>default: bottom-right</small>
  </span>
  <button class="button-success" (click)="success(alertForm.value)">Success</button>
  <button class="button-danger" (click)="error(alertForm.value)">Error</button>
  <button class="button-info" (click)="info(alertForm.value)">Info</button>
  <button class="button-warning" (click)="warn(alertForm.value)">Warn</button>
  <button class="button-outline" (click)="clear()">Clear</button>
</form>