.center {
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 10%;
    max-width: 750px;
}
#pos-select {
    position: relative;
    z-index: 9000;
}
.flex {
    display: flex;    
}
.flex small {
    margin-left: 1rem;
    white-space: nowrap;
}
